/*
 * Copyright (c) 2020 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <behaviors.dtsi>
#include <dt-bindings/zmk/keys.h>

/ {
    behaviors {
        hml: homerow_mods_left {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_LEFT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <32 6 9 8 7 18 30 31 19 20 21 33 34 35 23 22 10 11>;
        };

        hmr: homerow_mods_right {
            compatible = "zmk,behavior-hold-tap";
            label = "HOMEROW_MODS_RIGHT";
            bindings = <&kp>, <&kp>;

            #binding-cells = <2>;
            tapping-term-ms = <300>;
            hold-trigger-key-positions = <0 1 13 12 25 24 26 14 2 3 15 27 28 16 4 5 17 29>;
        };
    };

    combos {
        compatible = "zmk,combos";

        Escape {
            bindings = <&kp ESCAPE>;
            key-positions = <13 27>;
        };

        MCtoggler {
            bindings = <&to 4>;
            key-positions = <31 27>;
        };
    };

    keymap {
        compatible = "zmk,keymap";

        base {
            // -----------------------------------------------------------------------------------------
            // |  TAB |  Q  |  W  |  E  |  R  |  T  |   |  Y  |  U   |  I  |  O  |  P  | BSPC |
            // | CTRL |  A  |  S  |  D  |  F  |  G  |   |  H  |  J   |  K  |  L  |  ;  |  '   |
            // | SHFT |  Z  |  X  |  C  |  V  |  B  |   |  N  |  M   |  ,  |  .  |  /  | ESC  |
            //                    | GUI | LWR | SPC |   | ENT | RSE  | ALT |

            bindings = <
&kp TAB    &kp Q         &kp W             &kp E              &kp R            &kp T        &kp Y    &kp U             &kp I               &kp O              &kp P            &kp BSPC
&kp LCTRL  &hml LCTRL A  &hml LEFT_META S  &hml LEFT_SHIFT D  &hml LEFT_ALT F  &kp G        &kp H    &hmr RIGHT_ALT J  &hmr RIGHT_SHIFT K  &hmr RIGHT_META L  &hmr RCTRL SEMI  &kp SQT
&kp LSHFT  &kp Z         &kp X             &kp C              &kp V            &kp B        &kp N    &kp M             &kp COMMA           &kp DOT            &kp FSLH         &kp ESC
                                           &kp TAB            &mo 1            &kp SPACE    &kp RET  &mo 2             &to 0
            >;
        };

        layer_1 {
            bindings = <
&trans  &kp F1               &kp F2                   &kp F3                    &kp F4                  &kp F5          &kp F6         &kp F7                   &kp F8                     &kp F9                    &kp F10              &trans
&trans  &hml LCTRL NUMBER_1  &hml LEFT_META NUMBER_2  &hml LEFT_SHIFT NUMBER_3  &hml LEFT_ALT NUMBER_4  &kp NUMBER_5    &kp NUMBER_6   &hmr RIGHT_ALT NUMBER_7  &hmr RIGHT_SHIFT NUMBER_8  &hmr RIGHT_META NUMBER_9  &hmr RCTRL NUMBER_0  &trans
&trans  &kp MINUS            &kp EQUAL                &kp GRAVE                 &kp SQT                 &trans          &kp BACKSLASH  &kp LEFT_PARENTHESIS     &kp RIGHT_PARENTHESIS      &kp LBKT                  &kp RBKT             &trans
                                                      &trans                    &mo 3                   &kp SPACE       &kp RETURN     &mo 3                    &trans
            >;
        };

        layer_2 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &trans          &trans        &trans     &kp DELETE     &trans
&trans  &trans  &trans  &trans  &trans  &trans    &kp LEFT  &kp DOWN_ARROW  &kp UP_ARROW  &kp RIGHT  &kp BACKSPACE  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans    &kp PAGE_DOWN   &kp PAGE_UP   &trans     &kp ENTER      &trans
                        &trans  &mo 3   &trans    &trans    &mo 3           &trans
            >;
        };

        layer_3 {
            bindings = <
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
&trans  &trans  &trans  &trans  &trans  &trans    &trans  &trans  &trans  &trans  &trans  &trans
                        &trans  &trans  &trans    &trans  &trans  &trans
            >;
        };

        minecraft {
            bindings = <
&trans  &kp Q  &kp W  &kp E      &kp R  &kp T        &kp Y      &kp U  &kp I      &kp O    &kp P     &trans
&trans  &kp A  &kp S  &kp D      &kp F  &kp G        &kp H      &kp J  &kp K      &kp L    &kp SEMI  &trans
&trans  &kp Z  &kp X  &kp C      &kp V  &kp B        &kp N      &kp M  &kp COMMA  &kp DOT  &kp FSLH  &trans
                      &kp LSHFT  &mo 1  &kp SPACE    &kp ENTER  &mo 2  &trans
            >;
        };
    };
};
